<a href="https://colab.research.google.com/github/pedroplayer56/Inteligencia-Artificial/blob/main/001_Explora%C3%A7%C3%A3o_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import packages
import pandas as pd

In [16]:
#criar dataFrame
steam = pd.read_csv('/content/drive/MyDrive/Steam.csv/steam.csv')

In [4]:
#tamanho do dataFrame
steam.shape

(27075, 18)

In [17]:
#informação sobre as colunas ou Séries
steam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27075 entries, 0 to 27074
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   appid             27075 non-null  int64
 1   name              27075 non-null  object
 2   release_date      27075 non-null  object
 3   english           27075 non-null  int64
 4   developer         27075 non-null  object
 5   publisher         27075 non-null  object
 6   platforms         27075 non-null  object
 7   required_age      27075 non-null  int64
 8   categories        27075 non-null  object
 9   genres            27075 non-null  object
 10  steamspy_tags     27075 non-null  object
 11  achievements      27075 non-null  int64
 12  positive_ratings  27075 non-null  int64
 13  negative_ratings  27075 non-null  int64
 14  average_playtime  27075 non-null  int64
 15  median_playtime   27075 non-null  int64
 16  owners            27075 non-null  object
 17  price             27075 non-null  float64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.7+ MB

In [14]:
#ver uma unica (SÉRIE)
steam['price']

0        7.19
1        3.99
2        3.99
3        3.99
4        3.99
         ...
27070    2.09
27071    1.69
27072    3.99
27073    5.19
27074    5.19
Name: price, Length: 27075, dtype: float64

In [ ]:
#listar só categorias
steam['categories'].head(2)

In [ ]:
#listar só owners
steam['owners']

In [ ]:
#listar um subset duplo
steam[['name' ,'genres']]

In [ ]:
steam[['name' ,'genres' , 'average_playtime']]

In [ ]:
#subset com Categoria, idade necessária e preço
steam[['categories' ,'required_age' , 'price']].head(15)

In [30]:
categoria = steam[['categories' ,'required_age' , 'price']]

In [ ]:
#Listar apenas os jogos mais baratos que 3 doláres
categoria[(categoria['price']<3)]

In [ ]:
categoria[(categoria['price']>10)]

In [33]:
#qual o preço mais alto
categoria['price'].max()

421.99

In [ ]:
#qual o preço mais barato
categoria['price'].min()

In [36]:
categoria[(categoria['price'] > 100)]

                                              categories  required_age   price
7992                                 Steam Trading Cards             0  154.99
10034             Partial Controller Support;Steam Cloud             0  209.99
10624                  Single-player;Steam Trading Cards             0  154.99
10910           Single-player;Partial Controller Support             0  154.99
13061                                   In-App Purchases             0  114.99
13062                                   In-App Purchases             0  303.99
13063                                   In-App Purchases             0  154.99
14917  Single-player;Multi-player;Online Multi-Player...             0  154.99
17126                                      Single-player             0  154.99
21105                                      Single-player             0  421.99
25568                   Single-player;Steam Achievements             0  154.99